<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Sell in:</strong>
  <%= @item.sell_in %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @item.quality %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
